numpy
torchvision
fastai
starlette
uvicorn==0.3.32
python-multipart
aiofiles
aiohttp
bottleneck
fastprogress
beautifulsoup4
matplotlib
numexpr
numpy
pandas
packaging
Pillow
pyyaml
requests
scipy
torch
typing
spacy

dataclasses